html,
body {
  margin: 0;
  padding: 0;
  font-family: "Playfair+Display", serif;
  background-color: rgba(108, 110, 96, 1);
}
a {
  text-decoration: none;
}
input,
a,
button {
  outline: none;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.container.peek {
  width: 100vw;
  height: 100px;
}

.container.peek .color-block-title {
  display: none;
}

.container.peek .rsvp {
  top: calc(32px);
  left: calc(100vw - 128px - 32px);
  position: fixed;
}
.container.peek .rsvp:hover {
  top: calc(26px);
  left: calc(100vw - 128px - 38px);
}
.container.peek .rsvp-text {
  top: calc(32px);
  left: calc(100vw - 128px - 32px);
  position: fixed;
}

.container.peek .photo-block {
  border-bottom-left-radius: 16px;
}

.rsvp-title {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  font-size: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 16px;
}

.rsvp-form {
  background-color: #f0f1ef;
  border-radius: 8px;
  max-width: 700px;
  padding-top: 24px;
  margin: 0 auto;
}

.rsvp-form input {
  border: 2px solid #fff;
  background-color: transparent;
  padding: 32px 64px;
  margin: 32px 0;
  border-radius: 100px;
  color: #fff;
  font-size: 1.4em;
  width: 100%;
  font-family: inherit;
}

.rsvp-form button {
  border: 2px solid #fff;
  background-color: transparent;
  padding: 32px 32px;
  margin: 16px 0;
  border-radius: 100px;
  color: #fff;
  font-size: 1.4em;
  width: 100%;
  font-family: inherit;
  cursor: pointer;
}

.rsvp-form button.primary {
  background-color: #fff;
  color: #000;
}

.container.secondary {
  padding: 32px 64px 64px 64px;
  /* background-color: #717365; */
  background-color: rgba(108, 110, 96, 1);
  color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  box-sizing: border-box;
  height: initial;
}
.color-block {
  width: 50vw;
  /* background-color: rgba(108, 110, 97, 1); */
  /* background-color: rgba(134, 139,  170, 1); */
  /* background-color: rgba(63, 57, 80, 1); */
  /* background-color: rgba(31, 28, 30, 1); */
  /* background-color: #717365; */
  background-color: rgba(108, 110, 96, 1);

  color: white;
  display: flex;
  flex-direction: column;
  padding: 32px 64px 64px 64px;
  box-sizing: border-box;
}
.color-block-top {
  flex-grow: 1;
}
.color-block-names {
  font-size: 8em;
  line-height: 0.8em;
}
.peek .color-block-names {
  font-size: 5em;
}
.color-block-date {
  line-height: 3em;
  color: rgba(255, 255, 255, 0.5);
}

.menu {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: -16px;
  margin-left: -8px;
}

.menu-item {
  margin-right: 40px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: block;
  padding: 16px 8px;
  transition: all 0.3s ease;
  border-bottom: 2px solid;
  border-color: transparent;
  white-space: nowrap;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.menu-item:hover,
.menu-item.selected {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.photo-block {
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

.rsvp {
  position: absolute;
  width: 128px;
  height: 128px;
  top: calc(50vh - 64px);
  left: calc(50vw - 64px);
  box-sizing: border-box;
  border-radius: 128px;
  background-color: transparent;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  pointer-events: all;
  transform: translateZ(0);
}

.rsvp:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  width: 140px;
  height: 140px;
  top: calc(50vh - 70px);
  left: calc(50vw - 70px);
}

.rsvp-text {
  position: absolute;
  width: 128px;
  height: 128px;
  top: calc(50vh - 64px);
  left: calc(50vw - 64px);
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  transform: rotate(-15deg);
  pointer-events: none;
  font-weight: 300;
  transition: all 0.3s ease;
  text-align: center;
  /* font-family: sans-serif; */
  /* font-weight: 700; */
}

.amp {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
}

.content {
  flex-grow: 1;
}

.content-section {
  margin-bottom: 32px;
  display: flex;
}

.content-section-details {
  flex-grow: 1;
}

.content-section-heading {
  font-size: 0.6em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 4px;
}

.content-section-title {
  font-size: 1.5em;
  margin-bottom: 4px;
}

.content-section-info {
  font-size: 0.5em;
  margin-bottom: 8px;

  color: rgba(255, 255, 255, 0.5);
}

.content-section-info a {
  color: #fff;
  border: 1px solid #eee;
  padding: 8px 32px;
  border-radius: 8px;
  margin-top: 16px;
  display: inline-block;
}

.content-section-info.paragraph {
  margin-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 80%;
  padding-top: 16px;
  line-height: 1.8em;
  /* font-family: sans-serif; */
}

.content-section-info-category {
  color: rgba(255, 255, 255, 0.7);
  /* width: 60px; */
  display: inline-block;
}

.content-section-image {
  width: 50vw;
  margin-right: -64px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  object-fit: cover;
}

@media only screen and (max-width: 1280px) {
  .menu-item {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1080px) {
  .menu-item {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 920px) {
  .container {
    flex-direction: column;
  }

  .content-section {
    flex-direction: column;
    margin-bottom: 64px;
  }

  .content-section-image {
    border-radius: 16px;
    width: 100%;
    margin-top: 16px;
  }

  .menu-item {
    margin-right: 32px;
  }

  .color-block {
    width: 100vw;
    height: 50vh;
  }

  .color-block-names {
    font-size: 5em;
    line-height: 0.8em;
  }

  .color-block-title {
    flex-grow: 1;
  }

  .container.peek .rsvp {
    position: fixed;
    top: calc(100vh - 128px - 32px);
    left: calc(100vw - 128px - 32px);
  }
  .container.peek .rsvp:hover {
    top: calc(100vh - 128px - 38px);
    left: calc(100vw - 128px - 38px);
  }
  .container.peek .rsvp-text {
    position: fixed;
    top: calc(100vh - 128px - 32px);
    left: calc(100vw - 128px - 32px);
  }
}

@media only screen and (max-width: 600px) {
  .menu-item {
    margin-right: 0px;
  }

  .color-block {
    padding: 32px;
  }

  .container.secondary {
    padding: 32px;
  }
}

@media only screen and (max-width: 400px) {
  .menu-item {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 320px) {
  .color-block {
    padding: 32px 16px;
  }

  .container.secondary {
    padding: 32px 16px;
  }
}
